# Ignore Node.js dependencies
node_modules/

# Ignore VSCode settings (optional)
.vscode/

# Ignore environment files with secrets
.env.docker
.env
.env.development

# Do NOT ignore the example env file
!.env.docker.example

# ignore log and combined log
logs/
combined.log